@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F3F4F6;
}

  .header-container {
    display: flex;
    width: 50vw;
    justify-content: space-around;
    align-items: center;
  }

   h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    color: #059669;
   }

   #view {
    padding: 2%;
    font-family: 'Montserrat', sans-serif;
    border-radius: 25px;
    background-color: #1D4ED8;
    color: white;
    border: 2px solid #1D4ED8;
   }

   #view:hover {
    background-color: #93C5FD;
    color: #1E3A8A;
    cursor: pointer;
   }

  .table-container {
    width: 95vw;
    height: 80vh;
    border-radius: 5px;
    overflow-y: auto;
  }

    .data-table {
      height: 100%;
      width: 100%;
      border-collapse: collapse;
      table-layout: auto;
      text-align: center;
    }

      .data-table thead tr {
        background-color: #003365;
        position: sticky;
        top: 0;
        color: white;
        font-weight: 900;
        font-size: 20px;
      }
  
      .data-table th, .data-table td {
          padding: 20px;
      }
      
      .data-table tbody tr {
          font-size: 17.5px;
          border-bottom: 1px solid #ddd;
      }
      
      .data-table tbody tr:nth-child(even){
          background-color: #f3f3f3;
      }
      
      .data-table tbody tr:nth-child(odd) {
          background-color: white;
      }

      .addbtn {
        color: #34D399;
        font-weight: 900;
      }

      .addbtn:hover {
        background-color: #34D399;
        color: #047857;
        cursor: pointer;
      }

